# Wails build output
/build/bin/
/build/windows/

# Frontend build artifacts
/frontend/dist
/frontend/node_modules

# Node.js dependencies
/node_modules

# IDE and OS specific
.vscode/
.idea/
*.swp
*~
Thumbs.db
.DS_Store

# Go cache
go.sum

# Log files
*.log

# env files (can opt-in for committing if needed)
.env*

# scraper
.scraignore
project_scraper.py
scrape_groups.config
context.txt
backend.txt
frontend.txt

/.ai-docs/
/.ai-notebook/